{{!ember-grid}}

{{! yield injects the declarative components}}
{{yield}}

{{eg-render/eg-header columns=columns}}

{{eg-render/eg-body
  data=attrs.data columns=columns height=bodyHeight width=bodyWidth
  contentWidth=contentWidth rowHeight=rowHeight}}

<div class="footer">
  {{#each columns key="key" as |column|}}
    <span class="column">
      {{eg-render/eg-footer-cell column=column}}
    </span>
  {{/each}}
</div>