{{! dummy/example template }}

{{#if name}}
  <div class="example">
    <h4>{{title}}</h4>
    {{display-template templateString=templateString}}
    <div class='display'>
      {{grid-example layoutString=templateString options=options}}
    </div>
  </div>
{{/if}}