{{!ember-grid}}

<div class='declarative'>
  {{! yield injects the declarative components}}
  {{yield}}
</div>

{{#if showHeader}}
	{{eg-render/eg-header columns=columns width=bodyWidth}}
{{/if}}

{{eg-render/eg-body
  data=attrs.data columns=columns height=bodyHeight width=bodyWidth
  contentWidth=contentWidth rowHeight=rowHeight}}

{{#if showFooter}}
	{{eg-render/eg-footer columns=columns width=bodyWidth}}
{{/if}}