<div id="banner"><h2 id="title">Ember Grid</h2></div>
<div id="nav">
  {{#ember-grid 
    id="gallery" data=gallery showHeader=false rowHeight=20 scroll-y=false
    }}
    {{#eg-column key="section" width=150 }}
      {{#eg-body as |field|}}
        <strong>{{field}}</strong>
      {{/eg-body}}
    {{/eg-column}}
    {{#each columns as |col|}}
      {{#eg-column key=col field=getRoute width=150 }}
        {{#eg-body as |example|}}
          {{#if example}}
            <span>{{#link-to 'example' (query-params next=example.name)}}
              {{example.title}}
            {{/link-to}}</span>
          {{/if}}
        {{/eg-body}}
      {{/eg-column}}
    {{/each}}
  {{/ember-grid}}
</div>
<div id="content">
  {{outlet}}
</div>
