.ember-grid {
	
	border: 1px solid #333;

	.declarative {
		// always hide declarative components
		display:none;
	}

	.header, .body {
	  border-bottom: 1px solid #333;
	}

	.footer, .body {
		.cell {
		  overflow: hidden;
		}
	}

	.header, .footer, .body {

	  font-size: 0px;

		.cell {
    	border-right: 1px solid #333;
    	padding-left: 2px;
    	padding-right: 2px;
    	padding-top: 1px;
    	padding-bottom: 2px;
    	font-size: 14px;
    	display: inline-block;

    	&:last-child {
    		border-right-color: rgba(200,200,200,.8);
    	}

    	.default {
    		&.left {
    			text-align: left;
    		}
    		&.center {
    			text-align: center;
    		}
    		&.right {
    			text-align: right;
    		}
    	}
		}

		.resize-handle {
	    position: absolute;
	    right: -3px;
	    top: 0px;
	    bottom: 0px;
	    width: 5px;
	    cursor: ew-resize;
		}
	}

  .header {

    .dragging {
	    cursor: ew-resize;
	  }
  }

	.header, .footer {
		position: relative;

		.cell {
			position: relative;
		}

	}

	.body {

    .body-collection {
      background-color: rgba(240,240,240,.5);

		  overflow-y: auto;
		  overflow-x: hidden;
		  position: relative;
		  width: 100%;

			> div {
			  position: absolute;
			  overflow: hidden;

			  .cell {
          background-color: white;
			  	&.odd {
			  		background-color: #F1F0F0;
			  	}
			  }
			}
		}

	}
}

