{{! eg-render/eg-body-cell ~}}
{{#if _body.portal ~}}
  {{impl/ed-render rowIndex portal=_body.portal ~}}
{{else ~}}
  <div class="default {{column.align}}">
    {{eg-cell-data _data rowIndex column}}
  </div>
{{/if}}
