<h2 id="title">Ember Grid</h2>
{{#ember-grid }}
  
  {{#eg-column key="1" width=120 mydata="steve"}}
    {{#eg-header}}
      <h2>Name</h2>
    {{/eg-header}}
    {{eg-body path="name"}}
    {{#eg-footer}}
      Footer text
    {{/eg-footer}}
  {{/eg-column}}
  
  {{eg-column key="2" width=55 header="Image" footer="Images above"}}

{{/ember-grid}}