<h2 id="title">Ember Grid</h2>

{{outlet}}

{{#ember-grid items=gridRows}}
  {{#eg-column width=120 title="Name" mydata="steve"}}
    {{eg-header title="Name"}}
    {{eg-body path="name"}}
    {{#eg-footer}}
      Footer text
    {{/eg-footer}}
  {{/eg-column}}
  {{eg-column width=55 title="Image"}}
{{/ember-grid}}