{{! dummy/components/display-template/template }}

<div class="template">
  <a class="button" target="#">
    <h4 {{action "toggle"}}>Template
    <span class='arrow'>&#x25BC;</span></h4></a>
  <div class="body">
    <pre>{{templateString}}</pre>
  </div>
</div>