{{! eg-render/eg-body ~}}
{{#if requiredPresent}}
	<div class="scroll-container">
		<div class="scrollable">
		  {{eg-render/sized-filler height=topFillHeight}}
		  {{#each row in visibleRows}}

		    {{eg-render/eg-body-row 
		      rowIndex=rowIndex columns=columns rowHeight=attrs.rowHeight offset=offset limit=limit}}

		  {{/each}}
		  {{eg-render/sized-filler height=bottomFillHeight}}
		</div>
	</div>

{{/if}}
